body {
    background: url("../images/home-bg.gif") no-repeat fixed center top #eee809 !important;
    background: #eee809;
    font: 13px/22px 'Gotham', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/* #Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #181818;
    font-family: "Gotham", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 14px;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
}

h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}

h5 {
    font-size: 17px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}

.subheader {
    color: #777;
}

p {
    margin: 0 0 20px 0;
}

p img {
    margin: 0;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}


/*  Blockquotes  */

blockquote,
blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
    color: #555;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}


/* #Links
================================================== */

a,
a:visited {
    color: #ad3b33;
    text-decoration: none;
    outline: 0;
}

a:hover,
a:focus {
    color: #ce3126;
    outline: 0;
    text-decoration: none;
}

p a,
p a:visited {
    line-height: inherit;
}

#dean-message {
    background-color: #c74630;
    margin-bottom: 20px;
    padding: 45px 0 30px;
}

#dean-message h1 {
    text-align: center;
    font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;
    color: #eee809;
    text-decoration: none;
    line-height: normal !important;
    font-weight: 600;
    font-size: 42px;
    padding-top: 90px;
    letter-spacing: 1px;
}

#dean-message p {
    margin-right: 50px;
    color: #e3e2aa;
}

#dean-message .phillips {
    /*font-family:'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;*/
    font-size: 13px;
    font-weight: 700;
}


/*********************
ADDITIONAL STYLES
**********************/

.modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 960px;
}

.sidebar {
    clear: none;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: 0 0;
    position: relative;
    margin-left: 0em;
    margin-right: 10px;
    margin-bottom: 20px;
}

.slide img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.slide:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

.slide-content {
    text-align: center;
}
.video h2 {
    background: url("../images/video-play-button.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    right:30px;
}

.slide-content h2 {
    position: absolute;
    top: 0;
    padding: 25% 25%;
    margin: auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
}

.two-line h2 {
    position: absolute;
    top: 0;
    padding: 25% 35%;
    margin: auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.slide a:link h2 {
    text-shadow: 1px 1px 1px rgba(199, 70, 48, 0.4);
}

.slide a:hover h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}




.intro {
    background-color: #c74630;
    margin-bottom: 20px;
    padding: 45px 0 30px;
}


/* nested row */

.logo div {
    float: left;
}

.logo .main {
    padding-top: 25px;
}

.logo .sub {
    padding-top: 70px;
    line-height: normal;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
}

.logo .main a {
    text-decoration: none;
    font-size: 57px;
    font-weight: 700;
    color: #c74630;
    line-height: normal;
}

.logo .sub a {
    display: block;
    color: #59570f;
}

.nested-row [class*="columns"]:first-child {
    margin-left: 0 !important;
}

.nested-row [class*="columns"]:last-child {
    margin-right: 0 !important;
}


/* nav */

nav li {
    font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.03em;
    float: left;
    position: relative;
    padding: 10px 10px;
}

nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
}

nav li a:link {
    color: #000 !important;
}

nav li a:hover {
    color: #AD3B33 !important;
}

nav .current a:link {
    color: #AD3B33 !important;
}

.blackbar {
    border-bottom: 10px solid #000;
    margin-top: 10px !important;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
}


/* main column */

.main-content div {
    width: 100%;
    padding: 40px 0;
}

.main-content p,
.main-content h3 {
    padding-left: 30px;
    padding-right: 30px;
}

.main-content h3 {
    font-size: 18px;
    font-weight: 700;
    color: #ad3b33 !important;
    letter-spacing: 1px;
}

.dark {
    background-color: #f2f890;
}

.light {
    background-color: #dce185;
}

.main-content div:first-child {
    font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    padding-bottom: 20px;
    color: #e3e2aa;
    background-color: #C74630;
}

.main-content div:first-child h1 {
    text-align: left;
    font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;
    color: #eee809;
    line-height: normal !important;
    font-weight: 600;
    font-size: 36px;
    padding-left: 30px;
}

.main-content div:first-child a {
    color: #eee809;
}

.main-content div:last-child {
    font-family: 'Mercury Text G1 A', 'Mercury Text G1 B', Georgia;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
}

.side-content-right {
    margin-left: 2% !important;
}

.side-content-right .one {
    width: 50% !important;
    margin-left: 0;
}

.side-content-right h4 {
    font-size: 14px;
    font-weight: 400;
    color: #ad3b33 !important;
    font-weight: 700;
    padding-top: 5px;
    letter-spacing: 1px;
}

.side-content-right p {
    font-size: 12px;
    line-height: 18px;
}

.directors .title {
    font-size: 11px !important;
}

.pspace p {
    padding-right: 30px;
}

.download li {
    font-size: 12px;
    padding-right: 20px;
}

.download li a {
    background: url("../images/pdf.gif");
    padding-left: 22px;
    background-position: 0 3px;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 2px;
}

.submit-deposit {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}


/* FOOTER */

#footer {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 60px;
}

#footer .copyright {
    text-align: left;
}

#footer .contact {
    text-align: right;
}
