@mixin portalSetup($left, $top){
	position: absolute;
	opacity: 0.45;
	left: $left;
	top: $top;
	width: 300px;
	height: 300px;
	figure{
		position:absolute;
		left: 0px;
		bottom: 0px;
		margin:0em;
	}
	figcaption{
		position:absolute;
		left: 0px;
		bottom: 0px;
		@include transform(rotate(90deg));
	}
	@media screen and (min-width:550px){
		opacity: 0.6;
	}
}

@mixin portalMobile($display){
	display: #{$display};
}

@mixin portalDesktop($display){
	@media screen and (min-width:550px){
		display: #{$display};
	}
}

@mixin portalIos(){
	position: fixed;
	display: none;
	figure{
		display: none;
	}
	figcaption{
		display: none;
	}
}


// PORTALS --------------------------

.parallax{
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	perspective: 5px;
	-webkit-perspective: 5px;
	-moz-perspective: 5px;
	-o-perspective: 5px;
}


//For portal positioning, see /static/javascript/main.js

.portals{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	@include animation(rotateSlow 360s infinite);
	// -webkit-animation-play-state: running;
	// -o-animation-play-state: running;
	// -moz-animation-play-state: running;
	// animation-play-state: running;
}

@include keyframes(rotateSlow){
	from{
		@include transform(rotate(0deg));
	}
	to{
		@include transform(rotate(360deg));
	}
}

