@import "grid";
// @import "module";



//Variables, mixins, and basic classes for layout.
@import "dependencies/color";
@import "dependencies/type";
@import "dependencies/layout";
@import "dependencies/viewports";

//Third party
@import "bourbon";
@import "neat-helpers";
@import "dependencies/gridSettings";
@import "neat";

//CSS reset and basic styling for html elements.
@import "foundation/reset";
@import "foundation/base";

//Global components that exist on multiple pages, but not necessarily all pages
@import "components/global";
@import "components/header";
@import "components/footer";
@import "components/text-block";
@import "components/image-block";

//Page specific modules, which hopefully can distill down even further into components.
// @import "pages/pageName";


body {
    // background-image: url("../images/background.jpg");
    // background-size: contain;
    background: #eee809;
    font: 13px/22px 'Gotham', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

.bg-image {
    z-index: -9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media($mobile) {
        background-image: none;
    };
    @include media($tablet) {
        background-image: url('../images/background.jpg');
    };
    @include media($laptop) {

    };
    @include media($desktop) {

    };
}
