
{# Simple search form, remove from search index #}
{# insert nav #}
{# <a class="mobile" href="#">&#9776;</a> #}
<div class="container blackbar">
<div class="five columns logo">
     	   <div class="main"><a href="index.html">RISD</a></div>
      <div class="sub"><a href="index.html">Graduate<br>Studies</a></div>
     </div>
<nav class="eleven columns offset-by-four">
      <ul>
        <li><a href="../index.html">Welcome</a></li>
        
        <li><a href="/nextsteps/">Next Steps</a></li>

        <li><a href="/financialaid/">
        Financial Aid</a></li>  
        
        <li><a href="http://risd.afford.com/paynow?storeid=645">
        Reserve your place</a></li>        
    </ul>
</nav>
</div>