.header {
    margin: $l-space--small auto $l-space--large auto;
    @include media($mobile) {
        @include outer-container(90vw);
    };
    @include media($tablet) {
        @include outer-container(100vw);
    };
}
.main-nav {
    padding: $l-space--small 0;
    flex-wrap: wrap;
    border-bottom: 5px solid $c--dark-grey;
    @include media($mobile) {
        @include span-columns(6 of 6);
        display: flex;
    };
    @include media($tablet) {
        @include span-columns(6 of 8);
        @include shift(1);
        display: flex;
        align-items: flex-end;
    };
    @include media($laptop) {
        @include span-columns(8 of 10);
        @include shift(1);
        display: flex;
    };
    @include media($desktop) {
        @include span-columns(6 of 12);
        @include shift(3);
        display: flex;
    };
}
.main-nav__logo {
    @include media($mobile) {
        @include span-columns(6 of 6);
        margin-bottom: $l-space--small;
    };
    @include media($tablet) {
        @include span-columns(2 of 6);
        @include shift(2);
    };
    @include media($laptop) {
        @include span-columns(3 of 8);
        @include shift(0);
        margin-bottom: 0;
    };
    @include media($desktop) {
        @include span-columns(2 of 6);
    };
}
.main-nav__container {
    list-style: none;
    justify-content: space-between;
    @include media($mobile) {
        @include span-columns(6 of 6);
        display: flex;
        flex-wrap: wrap;
    };
    @include media($tablet) {
        @include span-columns(6 of 6);
        display: flex;
        flex-wrap: nowrap;
    };
    @include media($laptop) {
        @include span-columns(5 of 8);
        display: flex;
    };
    @include media($desktop) {
        @include span-columns(4 of 6);
        display: flex;
    };
}
.main-nav__item {
    @include media($mobile) {
        width: 50%;
    };
    @include media($tablet) {
        width: auto;
    };
    @include media($laptop) {

    };
    @include media($desktop) {

    };

    &:hover {
        color: $c--red;
    }
}
.main-nav__item--active {
    color: $c--red;
}
