.header {
    @include media($mobile) {
        @include outer-container(90vw);
    };
    @include media($tablet) {
        @include outer-container(100vw);
    };
}
.main-nav {
    padding: $l-space--small 0;
    flex-wrap: wrap;
    border-bottom: 5px solid $c--dark-grey;
    @include media($mobile) {
        display: flex;
    };
    @include media($tablet) {
        display: flex;
        align-items: flex-end;
    };
}
.main-nav__logo {
    @include media($mobile) {
        @include span-columns(6 of 6);
        margin-bottom: $l-space--small;
    };
    @include media($tablet) {
        @include span-columns(2 of 6);
        @include shift(2);
    };
    @include media($laptop) {
        @include span-columns(3 of 10);
        @include shift(0);
        margin-bottom: 0;
    };
    @include media($desktop) {
        @include span-columns(3 of 8);
    };
}
.main-nav__container {
    list-style: none;
    justify-content: space-between;
    @include media($mobile) {
        @include span-columns(6 of 6);
        display: flex;
        flex-wrap: wrap;
    };
    @include media($tablet) {
        @include span-columns(6 of 6);
        display: flex;
        flex-wrap: nowrap;
    };
    @include media($laptop) {
        @include span-columns(7 of 10);
        display: flex;
    };
    @include media($desktop) {
        @include span-columns(5 of 8);
        display: flex;
    };
}
.main-nav__item {
    font-size: $t-body--large;
    font-weight: $t-weight--book;
    @include media($mobile) {
        background-color: $c--light-yellow;
        color: $c--dark-grey;
        padding: $l-space--xsmall;
        flex-basis: 40%;
        flex-grow: 1;

        &:nth-child(2n+1) {
          margin-right: $l-space--xsmall;
        }
    };
    @include media($tablet) {
        width: auto;
        background-color: transparent;
        color: $c--dark-grey;
        padding: 0;
        margin-right: $l-space--xsmall;
    };

    &:hover {
      @include media($mobile) {
        color: $c--red;
      };
      @include media($tablet) {
        color: $c--red;
      };
    }

    span {
      display: inline-block;
      transform: rotate(-45deg);
    }
}
.main-nav__item--active {
  @include media($mobile) {
    color: $c--red;
  };
  @include media($tablet) {
    color: $c--red;
  };
}
