{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.financialaid.name }}{% endblock %}

{% set financialAid = cms.financialaid %}

{% block content %}

<main class="nextsteps">

<div class="bg-image"></div>

    <section class="content--container">

        {% block header %}
        {% set activeNavItem = 'Financial Aid' %}
        {% include "templates/partials/header.html" %}
        {% endblock %}

        <div class="text-block--column__large">
        <div class="text-block--primary">
                <div class="text-block--column__full">
                    <h1 class="text-block--primary-title text-block--primary-title__left">{{ financialAid.name }}</h1>
                    <div class="text-block--primary-subtitle">{{ financialAid.header_text|safe }}</div>
                </div>
            </div>
            {% for row in financialAid.body %}
                {% if loop.index%2 === 0 %}
                    <div class="text-block--secondary text-block--secondary__light">
                        {{ row.body_text|safe }}
                    </div>
                {% else %}
                    <div class="text-block--secondary text-block--secondary__dark">
                        {{ row.body_text|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="text-block--column__small">
            <div class="text-block--tertiary">
                <div class="text-block--tertiary__one-column">
                    <h4>{{ financialAid.contact_information_title }}</h4>
                    {{ financialAid.contact_name }}<br>
                    {{ financialAid.phone_number }}<br>
                    <a href="mailto:{{ finiancialAid.email }}" target="_blank">{{ financialAid.email }}</a>
                </div>
                <div class="text-block--tertiary__one-column">
                    <h4>{{ financialAid.planning_title }}</h4>
                    {{ financialAid.planning_text|safe }}
                </div>
                <div class="text-block--tertiary__one-column">
                    <h4>{{ financialAid.loans_title }}</h4>
                    {{ financialAid.loans_text|safe }}
                </div>
                <div class="text-block--tertiary__one-column">
                    <h4>{{ financialAid.career_title }}</h4>
                    {{ financialAid.career_text|safe }}
                    <script>
                      console.log({{financialAid|json|safe}});
                    </script>
                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}
