{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}
-
{{ cms.risdgraduatewelcomehomepage.name }}{% endblock %}

{% block header %}
{% set activeNavItem = 'Welcome' %}
{% include "templates/partials/header.html" %}
{% endblock %}

{% set home = cms.risdgraduatewelcomehomepage %}

{% block content %}

<main class="home">

    <section class="text-block--container">
        <div class="text-block--primary">
            <div class="text-block--column__small">
                <h1 class="text-block--primary-title">{{ home.header_section }}</h1>
            </div>
            <div class="text-block--column__large">{{ home.welcome_text|safe }}</div>
        </div>
    </section>

</main>

<div class="container">
    <div class="twelve columns modules">
        <div class="seven columns slide video">
            {% for x in cms.modules %}
            {% if x.name === "Research" %}
            <img height="293px" src="{{ x.image.url }}" width="544px">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="five columns slide">
            {% for x in cms.modules %}
            {% if x.name === "Student exhibitions" %}
            <img height="293px" src="{{ x.image.url }}" width="377px">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="five columns slide">
            {% for x in cms.modules %}
            {% if x.name === "Critical Making" %}
            <img src="{{ x.image.url }}">
            <a class="two-line video" href="{{ x.website }}">
                <h2 class="two-line">{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="seven columns slide video">
            {# Download link. #}
            {% for x in cms.modules %}
            {% if x.name === "Steam" %}
            <img src="{{ x.image.url }}">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="five columns slide">
            {% for x in cms.modules %}
            {% if x.name === "RISD Museum" %}
            <img src="{{ x.image.url }}">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="five columns slide">
            {% for x in cms.modules %}
            {% if x.name === "Grad Thesis Show" %}
            <img src="{{ x.image.url }}">
            <a class="two-line" href="{{ x.website }}">
                <h2 class="two-line">{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="seven columns slide video">
            {% for x in cms.modules %}
            {% if x.name === "Women in Art" %}
            <img src="{{ x.image.url }}">
            <a class="two-line" href="{{ x.website }}">
                <h2 class="two-line">{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="six columns slide">
            {% for x in cms.modules %}
            {% if x.name === "Providence" %}
            <img src="{{ x.image.url }}">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="six columns slide">
            {% for x in cms.modules %}
            {% if x.name === "RISD XYZ" %}
            <img src="{{ x.image.url }}">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="four columns slide">
            {% for x in cms.modules %}
            {% if x.name === "Faculty" %}
            <img src="{{ x.image.url }}">
            <a class="slide-content" href="{{ x.website }}">
                <h2>{{ x.single_line_text|safe }}
                </h2>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
