{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}
-
{{ cms.risdgraduatewelcomehomepage.name }}{% endblock %}



{% set home = cms.home %}
{% set modules = cms.home.image_module %}

{% block content %}

<main class="home">

    <section class="content--container">

    {% block header %}
    {% set activeNavItem = 'Welcome' %}
    {% include "templates/partials/header.html" %}
    {% endblock %}

        <div class="text-block--primary">
            <div class="text-block--column__small">
                <h1 class="text-block--primary-title text-block--primary-title__center">{{ home.header_section }}</h1>
            </div>
            <div class="text-block--column__large">{{ home.welcome_text|safe }}</div>
        </div>

        <div class="image-block--container">{% for module in modules %}
                {% if loop.index%4 === 0 %}
                    <a href="{{ module.link }}" class="image-block--image__large image-block">
                {% elseif loop.index%4 === 1 %}
                    <a href="{{ module.link }}" class="image-block--image__large image-block">
                {% elseif loop.index%4 === 2 %}
                    <a href="{{ module.link }}" class="image-block--image__small image-block">
                {% elseif loop.index%4 === 3 %}
                    <a href="{{ module.link }}" class="image-block--image__small image-block">
                {% endif %}
                        <div class="image-block--image image-block--image__main" style="background-image: url({{ module.image|imageSize(800) }})">
                            <h2 class="image-block--text">{{ module.title }}</h2>
                        </div>
                        <div class="image-block--image image-block--image__alt" style="background-image: url({{ module.image_alt|imageSize(800) }})">
                            <h2 class="image-block--text">{{ module.title }}</h2>
                        </div>
                        </a>
            {% endfor %}</div>
            
    </section>

</main>


{% endblock %}
