{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.nextsteps.name }}{% endblock %}

{% set nextsteps = cms.nextsteps %}

{% block content %}

<main class="nextsteps">

    <section class="content--container">

        {% block header %}
        {% set activeNavItem = 'Next Steps' %}
        {% include "templates/partials/header.html" %}
        {% endblock %}

        <div class="text-block--column__large">
        <div class="text-block--primary">
                <div class="text-block--column__full">
                    <h1 class="text-block--primary-title text-block--primary-title__left">{{ nextsteps.name }}</h1>
                    <div class="text-block--primary-subtitle">{{ nextsteps.header_text|safe }}</div>
                </div>
            </div>
            {% for row in nextsteps.body %}
                {% if loop.index%2 === 0 %}
                    <div class="text-block--secondary text-block--secondary__light">
                        {{ row.body_text|safe }}
                    </div>
                {% else %}
                    <div class="text-block--secondary text-block--secondary__dark">
                        {{ row.body_text|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="text-block--column__small">
            <div class="text-block--tertiary">
                {% for row in nextsteps.sidebar %}
                    {% if row.columns === "One Column" %}
                        <div class="text-block--tertiary__one-column">
                            {{ row.sidebar_text|safe }}
                        </div>
                    {% elseif row.columns === "Two Column" %}
                        <div class="text-block--tertiary__two-column">
                            {{ row.sidebar_text|safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </section>

</main>

{% endblock %}
