{# ------------------------------------------------------- #}
{# ONE OFF VIEW risdgraduatewelcomehomepage #}
{# This page can use any data from http:localhost:2000/cms/#/form/risdgraduatewelcomehomepage/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this risdgraduatewelcomehomepage's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.risdgraduatewelcomehomepage.name }}{% endblock %}
{% block content %}
  <h1>{{ cms.risdgraduatewelcomehomepage.name }}</h1>
  <ul>
      <li>
        <strong>Name: </strong>
        {{ cms.risdgraduatewelcomehomepage.name }}
      </li>
      <li>
        <strong>Create Date: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.risdgraduatewelcomehomepage.create_date|date('F d Y') }}
      </li>
      <li>
        <strong>Last Updated: </strong>
        {# Format the date. You can use PHP's date function to format as needed. http://php.net/manual/en/function.date.php #}
        {{ cms.risdgraduatewelcomehomepage.last_updated|date('F d Y') }}
      </li>
      <li>
        <strong>Header section: </strong>
        {{ cms.risdgraduatewelcomehomepage.header_section }}
      </li>
      <li>
        <strong>Welcome Text: </strong>
        {{ cms.risdgraduatewelcomehomepage.welcome_text|safe }}
      </li>
      <li>
        <strong>Preview URL: </strong>
        {{ cms.risdgraduatewelcomehomepage.preview_url }}
      </li>
      <li>
        <strong>Slug: </strong>
        {{ cms.risdgraduatewelcomehomepage.slug }}
      </li>
  </ul>
{% endblock %}
